# Madgrades API token - get one at https://madgrades.com/data
MADGRADES_API_TOKEN=

# GCP
GCP_PROJECT_ID=
GCS_BUCKET_RAW=courseiq-raw
GCS_BUCKET_PROCESSED=courseiq-processed
BQ_DATASET=courseiq

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
